<section
  class="p-3 bordre-2 gap-x-3 rounded-2xl flex md:gap-x-10 mt-10 border-[1px] shadow"
>
  @for (item of navItem; track $index) {
  <a
    [routerLink]="item.rout"
    routerLinkActive="from-red bg-gradient-to-l to-orange text-white"
    role="button"
    class="bg-gray-200 group hover:from-red hover:bg-gradient-to-l hover:to-orange border-[1px] rounded-2xl p-3 md:px-5 flex flex-col gap-y-1 items-center justify-between"
  >
    <i
      [routerLink]="item.rout"
      routerLinkActive="text-white"
      class="pi {{ item.icon }}  group-hover:text-white  "
      style="font-size: 1rem"
    ></i>
    <p class="capitalize text-[14px] font-Poppins group-hover:text-white">
      {{ item.name }}
    </p>
  </a>
  }
</section>
