<section class="bg-white rounded-2xl dark:bg-slate-900 p-5 mb-10 relative">
  <h1 class="font-medium text-[40px] font-Poppins mb-5 liner dark:text-white">
    Portfolio
  </h1>

  <div [@skillAnimation] class="grid justify-center md:grid-cols-2 gap-5">
    @for (item of project; track $index) {

    <a href="" class="animation">
      <p-card [style]="{ width: '20rem', overflow: 'hidden', background: '' }">
        <ng-template #header>
          <img
            alt="Project"
            class="w-full object-contain h-[250px]"
            [src]="item.image"
          />
        </ng-template>
        <ng-template #title> project </ng-template>
        <ng-template #subtitle> productoin soon </ng-template>
      </p-card>
    </a>
    }
  </div>
</section>
