<section>
  <div
    [@animated]
    class="bg-white dark:bg-slate-900 dark:border-[1px] dark:border-slate-600 rounded-2xl p-5 mb-10 relative"
  >
    <h1
      class="font-medium animation text-[40px] dark:text-white font-Poppins mb-5 liner"
    >
      {{ "home.ABOUT" | translate }}
    </h1>
    <p
      class="font-medium animation1 dark:text-slate-300 font-Raleway text-[16px] md:text-[18px] leading-[30px]"
    >
      {{ "home.desc1" | translate }} @if (!readMore) {
      <span
        (click)="more()"
        role="button"
        class="font-bold font-Raleway from-red bg-gradient-to-l to-orange bg-clip-text text-transparent"
      >
        {{ "home.more" | translate }}
      </span>
      }
    </p>
    @if (readMore) {
    <p
      class="font-medium animation1 dark:text-slate-300 font-Raleway text-[16px] md:text-[18px]leading-[30px]"
    >
      {{ "home.desc2" | translate }}

      <span
        (click)="less()"
        role="button"
        class="from-red bg-gradient-to-l to-orange text-transparent bg-clip-text font-bold font-Raleway"
      >
        {{ "home.less" | translate }}
      </span>
    </p>
    }

    <h2
      class="font-medium animation text-[40px] dark:text-white font-Poppins mt-5 mb-5"
    >
      {{ "home.do" | translate }}
    </h2>
    <div class="grid md:grid-cols-2 gap-6">
      @for (item of data; track $index ;let odd = $odd) {
      <div class="animation2">
        <app-cart
          [head]="item.head"
          [desc]="item.desc"
          [color]="item.color"
          [darkColor]="item.darkColor"
        ></app-cart>
      </div>

      }
    </div>
  </div>
</section>
